<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header" data-background-color="green">
                <h4 class="title">Update County</h4>
                <p class="category">Update County</p>
            </div>
            <div class="card-content">
                <form [formGroup]="countyAddForm" (ngSubmit)="countyUpdate()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">County Name <span>*</span></label>
                                <input formControlName="countyName" type="text" class="form-control" autofocus>
                            </div>
                            <div *ngIf="formErrors.countyName" class="alert alert-danger">
                                {{ formErrors.countyName }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">State</label>
                                <select  formControlName="state" class="form-control">
                                    <option *ngFor="let state of states" [value]="state">{{state}}</option>
                                </select>
                            </div>
                            <div *ngIf="formErrors.state" class="alert alert-danger">
                                {{ formErrors.state }}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success pull-right" [disabled]="!countyAddForm.valid">Update County</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>